body {
  background-color: #eee;
}

.sectionContainer {
  height: 100vh;
}

.cardContainer {
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.signUp {
  display: none;
}
.logIn {
  /* display: none; */
}

.login_link,
.terms_link,
.signUp_link {
  text-decoration: none;
}

.login_link:hover,
.terms_link:hover,
.signUp_link:hover {
  text-decoration: underline;
}
